html, body {
        border: 0px;
        margin: 0px;
        font-family: arial;
}

body {
        background-color: #8A2BE2;
}

a, a:visited{
        text-decoration: none;
}

input {
        width: 400px;
        height: 50px;
        font-size:30px;
        line-height:60px;
}

textarea {
        width: 700px;
        height: 300px;
}

#menu {
        background-position: 0 0;
        background-color: #8A2BE2;
		text-align: center;
        height: 100px;
        margin-bottom: 40px;
        padding: 10px;
}

#menu a, #menu a:visited{
        color: #fff;
        text-decoration: none;
        line-height: 40px;
        text-align: center;
        margin-right: 10px;
}

#content {
        background-color: #fff;
        width: 800px;
        min-height: 400px;
        margin:0px auto;
        padding: 20px;
        border:20px solid Black;
}


.welcome{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
}
